<div class="container  p-5 w-1/2 mx-auto mt-5 rounded">

    <h1 class="text-center font-mono font-bold uppercase text-3xl">Login</h1>

    <div class="mt-3 w-96 mx-auto p-2">
        <label  class="form-label font-mono p-2">Usuario:</label>
        <input type="text" class="form-control ml-5 border border-black rounded px-2 w-4/6" placeholder="Ingrese usuario">
    </div>
    
    <div class="mt-3 w-96 mx-auto p-2">
        <label  class="form-label font-mono p-2">Password:</label>
        <input type="password" class="form-control ml-3 border border-black rounded px-2 w-4/6" placeholder="Ingrese contraseña">
    </div>
    
    <div class="mt-3 p-3 w-56 mx-auto  ">
        <button class="rounded px-4 bg-blue-700 hover:bg-blue-800 font-mono font-bold text-xl text-white">Iniciar Session</button>
    </div>





</div>
