<div class="container p-2 mx-auto rounded w-3/4 mt-5">

    <h1 class="text-center font-mono text-3xl uppercase font-bold">Formulario</h1>

    <div class="formulario grid grid-cols-2 gap-2">

        <div class="mt-3 w-96 mx-auto p-2">
            <label  class="form-label font-mono p-2">Pregunta 1:</label>
            <input type="text" class="form-control ml-5 border border-black rounded px-2 w-3/5" placeholder="Ingrese usuario">
        </div>
        <div class="mt-3 w-96 mx-auto p-2">
            <label  class="form-label font-mono p-2">Pregunta 2:</label>
            <input type="text" class="form-control ml-5 border border-black rounded px-2 w-3/5" placeholder="Ingrese usuario">
        </div>
        <div class="mt-3 w-96 mx-auto p-2">
            <label  class="form-label font-mono p-2">Pregunta 3:</label>
            <input type="text" class="form-control ml-5 border border-black rounded px-2 w-3/5" placeholder="Ingrese usuario">
        </div>
        <div class="mt-3 w-96 mx-auto p-2">
            <label  class="form-label font-mono p-2">Pregunta 4:</label>
            <input type="text" class="form-control ml-5 border border-black rounded px-2 w-3/5" placeholder="Ingrese usuario">
        </div>
        <div class="mt-3 w-96 mx-auto p-2">
            <label  class="form-label font-mono p-2">Pregunta 5:</label>
            <input type="text" class="form-control ml-5 border border-black rounded px-2 w-3/5" placeholder="Ingrese usuario">
        </div>
        <div class="mt-3 w-96 mx-auto p-2">
            <label  class="form-label font-mono p-2">Pregunta 6:</label>
            <input type="text" class="form-control ml-5 border border-black rounded px-2 w-3/5" placeholder="Ingrese usuario">
        </div>
        <div class="mt-3 w-96 mx-auto p-2">
            <label  class="form-label font-mono p-2">Pregunta 7:</label>
            <input type="text" class="form-control ml-5 border border-black rounded px-2 w-3/5" placeholder="Ingrese usuario">
        </div>
        <div class="mt-3 w-96 mx-auto p-2">
            <label  class="form-label font-mono p-2">Pregunta 8:</label>
            <input type="text" class="form-control ml-5 border border-black rounded px-2 w-3/5" placeholder="Ingrese usuario">
        </div>
        <div class="mt-3 w-96 mx-auto p-2">
            <label  class="form-label font-mono p-2">Pregunta 9:</label>
            <input type="text" class="form-control ml-5 border border-black rounded px-2 w-3/5" placeholder="Ingrese usuario">
        </div>
        <div class="mt-3 w-96 mx-auto p-2">
            <label  class="form-label font-mono p-2">Pregunta 10:</label>
            <input type="text" class="form-control ml-3 border border-black rounded px-2 w-3/5" placeholder="Ingrese usuario">
        </div>
        
        <div class="mt-3 pl-6 col-span-2 w-1/4 mx-auto  ">
            <button class="rounded px-4 bg-green-700 hover:bg-green-900 font-mono font-bold text-xl text-white">Registrar</button>
        </div>
        
        
    </div>
    
</div>